<!DOCTYPE html>
<html>

<head>
    <!-- UTF-8 Charset-->
    <meta charset="utf-8" />
    <meta charset="utf-8" />
    <meta charset="utf-8" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }
    </style>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper teal darken-1">
                <a href="/vendor/dashboard" class="brand-logo center">SiRoDa</a>
            </div>
        </nav>
    </header>
    <main class="red lighten-3 valign-wrapper">
        <div class="container center-align">
            <h1>404</h1>
            <p>This means nothing was found. Are you lost?</p>
        </div>
    </main>
    <footer class="page-footer teal lighten-1 white-text text-darken-2">
        <div class="footer-copyright">
            <div class="container">
                © 2017 SiRoDa, All Rights Reserved.
                <a class="grey-text text-lighten-4 right" href="https://github.com/rohithbalaji123/food-card-system" target="_blank"> <i class="material-icons left">code</i> Github</a>
            </div>
        </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

    })
    </script>
</body>

</html>