<!DOCTYPE html>
<html>

<head>
    <!-- UTF-8 Charset-->
    <meta charset="utf-8" />
    <meta charset="utf-8" />
    <meta charset="utf-8" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }
    </style>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper teal darken-1">
                <a href="/vendor/dashboard" class="brand-logo center">SiRoDa</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="card blue-grey darken-1 valign-wrapper">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <form id="form" class="col l6 s12 offset-l3">
                            <div class="row">
                                <div class="input-field col s12 center-align">
                                    <input id="rfidcard_id" autofocus="autofocus" type="text" class="validate center-align">
                                    <label for="rfidcard_id">RFID Card</label>
                                </div>
                            </div>
                            <div class="col l6 s12 offset-l3">
                                <a class="btn-large" id="btn_submit"><i class="material-icons right">send</i>Add RFID Card</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer teal lighten-1 white-text text-darken-2">
        <div class="footer-copyright">
            <div class="container">
                © 2017 SiRoDa, All Rights Reserved.
                <a class="grey-text text-lighten-4 right" href="https://github.com/rohithbalaji123/food-card-system" target="_blank"> <i class="material-icons left">code</i> Github</a>
            </div>
        </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#btn_submit").click(function() {
            //Materialize.toast($("#username").val() + $("#password").val(), 4000, 'rounded');

            $.ajax({
                url: "/rfidcard/register",
                type: 'POST',
                data: { "rfidcard_id": $("#rfidcard_id").val() },
                success: function(data) {
                    console.log(data);
                    Materialize.toast("Card Registered", 4000, 'rounded');
                    $('#form').trigger("reset");
                },
                error: function(data) {
                    console.log(JSON.parse(data.responseText).message);
                    Materialize.toast(JSON.parse(data.responseText).message, 4000, 'rounded');
                },
            });
        });
    })
    </script>
</body>

</html>